<nav class="navbar navbar-default navbar-expand-lg navbar-light" style="background-color: transparent;">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Play<b>Max</b></a>  		
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/nosotros/">Nosotros</a></li>			
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle">Categorias <b class="caret"></b></a>
                <ul class="dropdown-menu">					
                    <form th:action="@{/articulo/listar}" method="POST">
                        <li><button class="btn btn-link" type="submit" name="categoria" value="CONSOLAS">Consolas</button></li>
                        <li><button class="btn btn-link" type="submit" name="categoria" value="JUEGOS">Juegos</button></li>
                        <li><button class="btn btn-link" type="submit" name="categoria" value="ACCESORIOS">Accesorios</button></li>
                        <li><button class="btn btn-link" type="submit" name="categoria" value="SERVICIO_TECNICO">Servicio Técnico</button></li>
                    </form>
                </ul>
            </li>
            <li class="active"><a href="/catalogo">Catalogo</a></li>
            <li>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#" >Contáctenos</a>
                <ul class="dropdown-menu form-wrapper">					
                    <li>
                        <form action="/usuario/registro" method="post"><input type="hidden" name="_csrf" value="c6fd0a5e-56f4-45f7-a0df-717099f616bd"/>
                            <p class="hint-text">Llena los siguientes campos para enviarnos su consulta</p>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre" name="nombre" required="required">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Apellido" name="apellido" required="required">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Correo" name="correo" required="required">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Escriba su consulta" name="mensaje" required="required">
                            </div>

                            <input type="submit" class="btn btn-primary btn-block" value="Enviar">
                        </form>
                    </li>
                </ul>
            </li>
            <li class="dropdown" th:if="${#authorization.expression('hasAnyRole(''ADMIN'')')}">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Vista Administrador <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ><a href="/proveedor/registro">Cargar Proveedor</a></li>
                    <li ><a href="#">Listar Proveedor</a></li>
                    <li ><a href="/articulo/registro">Cargar Articulos</a></li>
                    <li ><a href="#">Listar Articulos</a></li>
                </ul>
            </li>

        </ul>
        <form class="navbar-form form-inline" th:action="@{/articulo/buscar}" method="POST" >
            <div class="input-group search-box">                
                <input type="search" name="nombre" class="form-control" placeholder="Buscar...">
                <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">			
            <li sec:authorize="!isAuthenticated()">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Login</a>
                <ul class="dropdown-menu form-wrapper">					
                    <li>
                        <form action="/logincheck" method="post">
                            <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
                            <p th:if="${logout != null}" th:text="${logout}" style="color:greenyellow"></p>
                            <p class="hint-text">Iniciar Sesión</p>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Ingresar correo..." name="correo" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Ingresar Password..." name="password" required="required">
                            </div>
                            <input type="submit" class="btn btn-primary btn-block" value="Login">
                            <div class="form-footer">
                                <a href="#">Olvidaste tu password?</a>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1">Creá tu cuenta</a>
                <ul class="dropdown-menu form-wrapper">					
                    <li>
                        <form th:action="@{/usuario/registro}" method="post">
                            <p class="hint-text">Llena los siguientes campos para crear tu cuenta!</p>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre" name="nombre" required="required">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Apellido" name="apellido" required="required">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Correo" name="correo" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirmar Password" name="password" required="required">
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline"><input type="checkbox" required="required"> Acepto los <a href="#">Terminos &amp; Condiciones</a></label>
                            </div>
                            <input type="submit" class="btn btn-primary btn-block" value="Registrarse">
                        </form>
                    </li>
                </ul>
            <li sec:authorize="isAuthenticated()">
                <a class="btn btn-primary get-started-btn" href="/logout" align="center">Cerrar Sesión</a>
            </li>

        </ul>
    </div>
</nav>
