.rounded-circle {
    border-radius: 50% !important;
}
h1{
    color: white;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
}
div .desc{
    position: static;
    align-content: center;
    font-size: medium;
}
div .con{
    align-content: center;
    font-size: medium;
    text-align: center;
}
img{
    background-position: center;
     width: 400px; 
     height: 400px;
     position: center;
     text-align: center;
}
h3{
    color: white;
    text-align: center;
    position: static;
    align-content: center;
    font-size: medium;
}