<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PlayMax</title>     
        <link th:replace="/fragments/head">
        <style>
            html,body{   
                background-image: url("/img/fondo.jpg");
                background-attachment: fixed;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 90%;
                width: 100%;
            }
        </style>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
        </style>
    </head> 
    <body style="background-color: indianred ; font-family:Outfit"> 
        <header id="header">
            <div th:replace="/fragments/navbar"></div>
        </header>
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="/img/pxn.png" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Las Mejores Consolas...</h2>
                            <p>Las últimas consolas del mercado, las pueden encontrar aquí. Desde PS5, XBOX Series X/S, hasta la más reciente Nintendo Switch Oled...</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="/img/service tech.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Servicio Técnico de Calidad</h2>
                            <p>El mejor servicio técnico de consolas y accesorios. Entregamos en tiempo y forma, con garantía incluida...</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="/img/mgs3.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Los Mejores y Últimos Juegos</h2>
                            <p>En nuestra tienda vas a encontrar los juegos más recientes del mercado al mejor precio. Contamos con un amplio stock tanto físico como digital...</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>    