<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PlayMax</title>     
        <link th:replace="/fragments/head">
        <link rel="stylesheet" href="/css/estilo-nosotros.css">
        <style>
            html,body{   
                background-image: url("/img/fondo.jpg");
                background-attachment: fixed;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 90%;
                width: 100%;
            }
        </style>
    </head>
    <body style="align-content: center">
        <div th:replace="/fragments/navbar"></div>
        <h1>La Evolución no se Detiene.</h1>
        <h2>Por eso PlayMax, que nació de los videojuegos, es ahora un experto en el mundo del gaming...</h2>
        <div>
            <div class="con"><img class="img-fluid rounded-circle" src="/img/conan.jpg" alt="..." /></div> 
            <div class="desc"><h2 class="display-4"><strong>Big Boss</strong></h2>
                <p>La tienda nace gracias a nuesto Boss y su pasión por el mundo del gaming y la programación
                    desde la necesidad de hacer llegar su visión a todos aquellos que comparten la misma pasión,
                    haste el punto de poder compartir momentos juntos y transportarse al hermoso mundo del gaming</p>
                <p>Nuestro equipo de expertos está preparado para asesorarte y brindarte todos los días 
                    una experiencia de compra personalizada que se adapte a lo que buscás. 
                    También contamos con un servicio técnico especializado, 
                    con asistencia total en posventa para que disfrutes todos los días de tu producto como si fuera el primero.
                    Además, ofrecemos ofertas especiales, descuentos y planes de financiación
                    para que accedas a eso que tanto querés al precio más accesible y con la mejor cuota.</p>
            </div>
        </div>
    </body>
</html>
